.hdr-logo-link {
    i {
        max-width: 95%;
        width: 300px;

        display: block;
        margin: 0 auto;

        svg {
            width: 100%;

            path {
                // fill:white;
           
            }
        }
    }
}