.bg--green {
    background-color: $green;
}

.bg--gradient {
    background: linear-gradient(180deg, #FFFFFE, #FFFFD9);
}

.bg--gray {
    background-color: $gray;
}
.bg--white{
	background-color: white;
}