.font--thin {
    font-weight: 100 !important;
}

.font--light {
    font-weight: 300 !important;
}

.font--semi-bold {
    font-weight: 600 !important;
}

.font--bold {
    font-weight: 700 !important;
}

.font--black {
    font-weight: 900 !important;
}

.font--italic {
    font-style: italic;
}

.font--normal {
    font-style: normal !important;
}

.font--larger {
    font-size: 1.2em;
}

.font--even-larger {
    font-size: 1.3em;

    @include media($screen-sm) {
        font-size: 1.35em;
    }
}

.font--smaller {
    font-size: .9em;
}

.font--even-smaller {
    font-size: .8em;
}

.text--center {
    text-align: center !important;
}

.text--right {
    text-align: right !important;
}

.text--uppercase {
    text-transform: uppercase !important;
}

.text--lowercase {
    text-transform: lowercase !important;
}

.text--capitalize {
    text-transform: capitalize !important;
}

.letter--1 {
    letter-spacing: 1px;
}

.letter--1-half {
    letter-spacing: 1.5px;
}

.letter--2 {
    letter-spacing: 2.5px;

    &.margin {
        margin-left: 1px;
    }
}

.line--short {
    line-height: 1.2;
}

.line--2 {
    line-height: 2;
}

.font--sans {
    font-family: $default-font !important;
}

.font--serif {
    // font-family: $heading-font-family !important;
}

.transform--no {
    text-transform: none !important;
}

.column--2 {
    @include media($screen-sm) {
        column-count: 2;
        column-gap: 2em;
    }
}

.mobnorm {
    @include media($max-sm) {
        font-size: 1em;
    }
}