.section--header {
    position: relative;
    // height: 70vh;

    // img {
    // 	z-index: 0;
    //     position: absolute;
    //     left: 0;
    //     top: 0;
    //     width: 100%;

    // }
    h1{
    	z-index: 1;
    	position: relative;
    }
}