{% block html_head_container %}
	{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	
</head>
{% endblock %}
<body class="{{body_class}}" data-template="base.twig">
<header class="header bg--white spacing--gutter spacing--vert-2 text--center">
	{% block header %}
		<a class="hdr-logo-link" href="/" rel="home" title="{{site.name}}"><i class="icon-logo" data-grunticon-embed></i></a>
		{% include 'components/navigation.twig' %}
	{% endblock %}
</header>
<main role="main" class="content-wrapper">
	{% if title %}<h1>{{title}}</h1>{% endif %}
		{% block content %}
			Sorry, no content
		{% endblock %}

</main>
{% block footer %}
	
		{% include 'footer.twig' %}
	
	{{ function('wp_footer') }}
{% endblock %}
</body>
{% include 'components/analytics.twig' %}
</html>