<footer class="bg--green spacing--vert-1 spacing--gutter  color--white flex flex--wrap justify--between">
	
<div class="grid--sm-half spacing--vert-1">
	<strong>Contact</strong><br>
			Wilson Vineyards<br>
		50400 Gaffney Road<br>
		Clarksburg, CA  95612<br>
	</div>
	<div class="grid--sm-half spacing--vert-1"><br>
		<strong>Email:</strong> info@wilsonvineyards.com<br>
		<strong>Phone:</strong> 916-744-1456
	
	</div>
	<div class="grid--one text--center">
		<br>
		Learn more about our winery operations at WilsonVineyards.com <br>
</div>
	<div class="text--center grid--one  spacing--vert-1">
	<span class="font--even-smaller">Copyright {{"now"|date('Y')}}</span>
</div>
</footer>