<section class="section--about flex flex--wrap">
	<div class="grid--sm-two-thirds max--wrap margin--center spacing--vert-2 spacing--dsk-vert-4 spacing--gutter">
		<h3>{{home.about.title}}</h3>
		<div>{{home.about.text}}</div>
		<div class="margin--center  spacing--vert-2">
			<img style="width:100%; max-width:781px;" src="{{home.about.image}}">
		</div>
	</div>
</section>