<section class="section--header spacing--vert-2 spacing--dsk-vert-4 bg--green color--white">
	<div class="grid--lg-two-thirds max--wrap  margin--center spacing--gutter">
		<h2 class="font--light transform--no ">{{home.header.title_one}}</h2>
		{# <p class="font--larger mobnorm">{{home.header.title_two}}</p> #}
<br>
		<div class="font--larger">We offer:</div>
		<ul>
	<li><strong>Collaborative Vineyard Management</strong> by working with our wineries to ensure high-quality fruit production.</li>
	<li><strong>Ready to Plant</strong> services on 500 acres of virgin ground.</li>
	<li><strong>2018 Fruit Available</strong> including Chardonnay, Pinot Noir, Cabernet, Chenin Blanc, Sauvignon Blanc, Pinot Gris, and more.</li>
</ul>

<div class="text--center spacing--vert-1">
	<p class="font--larger">For questions or more info, contact David Ogilvie</p>

<a class="button bg--white color--green" href="tel:9162957111">Call (916) 295-7111</a> <a class="button bg--white color--green" href="mailto:david@wilsonvineyards.com">Email</a>
</div>
	</div>
</section>