<section class="section--header spacing--vert-2 spacing--dsk-vert-4 bg--green color--white">
	<div class="grid--sm-two-thirds  margin--center spacing--gutter">
		<h2 class="font--light transform--no ">At Wilson Vineyards, we use cutting edge viticulture practices to grow the highest quality fruit that is essential for truly great wine and at a price that is competitive for our customers.</h2><br>
		<p class="font--larger">With over 14 varietals, including Sauvignon Blanc, Chardonnay, Petite Sirah and Pinot Noir, our collaborative vineyard management and operations offers 500 acres available for planting.</p>
	</div>
</section>