<section class="section--contact flex flex--wrap">
	<div class="grid--sm-two-fifths" style="background-image: url('{{home.contact.image}}');background-size: cover;">
	</div>
	<div class="grid--sm-three-fifths spacing--gutter spacing--vert-2 spacing--dsk-vert-5">
		<h3 class="">{{home.contact.title}}</h3>
		<p class="grid--md-two-thirds">{{home.contact.text}}</p>
		{% filter shortcodes %}
			{{home.contact.form}}
		{% endfilter %}
</div>
</section>