<section class="section--contact flex flex--wrap">
	<div class="grid--sm-two-fifths" style="background-image: url(http://clarksburgwine.dev/wp-content/uploads/2017/09/IMG_0833.jpg);background-size: cover;">
	</div>
	<div class="grid--sm-three-fifths spacing--gutter spacing--vert-2 spacing--dsk-vert-5">
		<h3 class="">Plant the Future of Clarksburg with Us.</h3>
		<p class="grid--two-thirds">To learn more about purchasing fruit or planting with us, fill out the form below or call us at XYZ.</p>
		{% filter shortcodes %}
			[contact-form-7 id="7" title="Contact Form"]
		{% endfilter %}
</div>
</section>