<section class="section--about flex flex--wrap">
	<div class="grid--sm-two-thirds max--wrap margin--center spacing--vert-2 spacing--dsk-vert-3 spacing--gutter">
		<h3>About</h3>
		<p>Wilson Vineyards is a fourth generation family tradition. Established by George Harold and Isabelle Wilson, our family’s operations are dedicated to providing the best fruit in a way that sustains the future of the Clarksburg region.</p><p>Planting and farming in the Clarksburg AVA since 1971, our sustainable practices include being Lodi Rule Certified, leaf blade and petiole analysis, shoot and cluster thinning, leaf removal, advanced irrigation management, and aerial mapping.</p>
		<div class="margin--center flex flex--wrap justify--between align--items-baseline spacing--vert-2">
			<img class="grid--half " src="/wp-content/uploads/2017/09/01.jpg" alt="">
			<img class="grid--half " src="/wp-content/uploads/2017/09/02.jpg" alt="">
		</div>
	</div>
	
	
	
</section>